Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Maps/ThirdPersonExampleMap_BuiltData.uasset
Content/Maps/MENU_BuiltData.uasset
*LVL1_Suburban_BuiltData.uasset
AdvancedPuzzleConstructor
*.idea*